body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;

}

.grid-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 80px 1fr 60px;
    grid-template-areas: 
       "header header"
       "sidebar content"
       "footer footer"
    ;
    gap: 10px;
    height: 100vh;
}


.header, .sidebar, .content, .footer {
    padding: 20px;
    text-align: center;
}

.header { 
    grid-area: header;
    background-color: aquamarine;
    color: seagreen;
 }

 .sidebar {
    grid-area: sidebar;
    background-color: cyan;

 }

 .content {
    grid-area: content;
    background-color: powderblue;

 }

 .footer {
    grid-area: footer;
    background-color: slateblue;
    color: white;

 }

 @media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "header"
        "footer"
        "content"
        "sidebar"
    }
 }